h2{
    padding: 40px 0;
}

.img-masc{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px 400px;
    padding: 20px;
    gap: 10px;

    img{
        max-width: 400px;
    }
}

mask{
    max-width: 200px;
}

.masc{
    width: 0px;
    height: 0px;
    position: absolute;
}
 .mask1{
    
    border-radius: 50%;
    overflow: hidden;
 }

 .mask2{
    clip-path: circle();
 }

 .mask3{
    clip-path: polygon(50% 4%, 100% 0%, 60% 93%, 0% 100%);
 }

 .mask4{
    clip-path: url(#svgmask2);
 }

 .mask5{
    clip-path: url(#svgmask1);
 }

 .mask6{
    clip-path: url(#svgmask3);
 }
